form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  form div {
    margin: 10px 0;
  }
  
  label {
    margin-right: 10px;
  }
  
  input {
    padding: 5px;
    font-size: 16px;
    width: 100px;
  }
  
  .btn {
    background-color: #61dafb;
    border: none;
    color: #282c34;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .btn:hover {
    background-color: #21a1f1;
    transform: scale(1.1);
  }
  
  .btn:active {
    background-color: #1e90d0;
    transform: scale(1.05);
  }
  