table {
  width: 50%;
  border-collapse: collapse;
  margin: 20px auto;
  color: white;
}

th, td {
  border: 1px solid #8884d8;
  padding: 8px 12px;
  text-align: center;
}

th {
  background-color: #8884d8;
}

td {
  background-color: #282c34;
}

.btn {
  background-color: #61dafb;
  border: none;
  color: #282c34;
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
  background-color: #21a1f1;
  transform: scale(1.1);
}

.btn:active {
  background-color: #1e90d0;
  transform: scale(1.05);
}

.dot-1, .dot-2, .dot-3 {
  animation: blink 1.5s infinite step-start both;
}

.dot-2 {
  animation-delay: 0.5s;
}

.dot-3 {
  animation-delay: 1s;
}

@keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

